body {
	font-family: 'Roboto', sans-serif;
	color: #40535c;
}
header {
	height: 100px;
	background: gray;
	margin-top: -20px;
	position: relative;
	margin-bottom: 0px;
}
header img {
  width:100px;
  height:80px;
  float: left;
  display: inline-block;
  position: absolute;
  top: 20px;
}
h1 {
   left: 200px;
   font-size: 28px;
   font-weight: 300px;
   position: absolute;
   left: 110px;
   top: 23px;
   color: white;
}
h2 {
   text-align: center;
   padding: 0px;
   margin: 0px;
   margin-bottom: 50px; 
}
a {
	color: inherit;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
}
footer {
	height: 50px;
	margin: 0px;
	background: gray;
}
.container img {
	border: 2px solid #DDD;
	width: 100px;

}
.container {
	padding: 50px;
	height: 700px;
}
.section1, .section2, .section3 {
	padding: 20px;
	width: 32%;
	border-right: 1px solid gray;
	margin: 5px;
}
.container img {
	float: left;
}
.description {
	float: left;
	padding: 30px;
	text-align: center;
	line-height: 30px;
}
.section1 {
	margin-left: 20px;
	float: left;
}
.section2 {
	float: left;
}
.section3 {
	float: left;
	border: none;
    margin-right: 0px;
}
.media {
	margin-right: 25%;
	margin-left: 25%;
}
.media-left {
	width: 50%;
	padding-left: 120px;
}
.media-body {
	padding-left: 25px;
	width: 50%;
}
h5 {
	font-weight: 800;
}
.media-left .img-circle{
	margin-bottom: 25px;
}
.media-heading {
	padding: 25%;
	margin:auto;
}